.movie-details {
    display: flex;
    gap: 2rem
}

.movie-header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.movie-rating {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.movie-stats {
    display: flex;
    justify-content: space-between;
    width: 28%;
    margin: 20px 0;
    font-size: 24px;
    color: #F65261;
}

.movie-genre {
    font-size: 14px;
}
