.header {
    padding: 16px 60px;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 300;
    background-image: url(../assets/header-background.png);
    background-size: cover;
}

.movie-search h1 {
    margin-bottom: 36px;
}

.movie-search {
    max-width: 960px;
    width: 100%;
    margin: 40px auto 80px;
}

.movie-search input {
    width: 70%;
}

.movie-search button {
    width: 30%;
}

.add-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: #F65261;
    background-color: #606060AD;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 4px;
}
