.genre-container {
    width: 100%;
    max-width: 70%;
}

.genre-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    text-transform: uppercase;
}

.genre-link.active {
    text-decoration: underline;
    text-decoration-color: #F65261;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
}