@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #555;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: #424242;
  padding: 32px 0;
}

.main {
  padding: 28px 60px;
  background-color: #232323;
}

.text-left {
  text-align: left;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.w-70 {
  width: 70%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.color-red {
  color: #F65261
}
